In [274]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [275]:
df1 = pd.read_csv('review1.csv')
df2 = pd.read_csv('review2.csv')
df3 = pd.read_csv('review3.csv')
df4 = pd.read_csv('review4.csv')

In [276]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(205052, 6)
(3150, 5)
(38886, 2)
(155544, 2)

In [277]:
df1.head()

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral

In [278]:
df1 = df1[['Summary','Sentiment']]

In [279]:
df1['Sentiment'] = df1['Sentiment'].map({'positive':1,'neutral':2,'negative':0})

In [280]:
df1.rename(columns={'Summary':'text','Sentiment':'label'},inplace=True)

In [281]:
df2 = df2[['verified_reviews','feedback']]

In [282]:
df2.rename(columns={'verified_reviews':'text','feedback':'label'},inplace=True)

In [283]:
df1.columns

Index(['text', 'label'], dtype='object')

In [284]:
df3.rename(columns={'content':'text','sentiment_labels':'label'},inplace=True)

In [285]:
df4.rename(columns={'content':'text','sentiment_labels':'label'},inplace=True)

In [286]:
df3['label'] = df3['label'].map({'POSITIVE':1,'NEUTRAL':2,'NEGATIVE':0})
df4['label'] = df4['label'].map({'POSITIVE':1,'NEUTRAL':2,'NEGATIVE':0})

In [287]:
df = pd.concat([df1,df2,df3,df4])

In [288]:
df['label'].value_counts()

label
1    307673
2     49336
0     45623
Name: count, dtype: int64

In [289]:
df.isnull().sum()

text     19
label     0
dtype: int64

In [290]:
df.dropna(inplace=True)

In [291]:
df.duplicated().sum()

182619

In [292]:
df.drop_duplicates(inplace=True)

In [293]:
df = df.sample(10000)

In [294]:
# for i in df['text']:
#     i = i.lower()

In [295]:
df['text'] = df['text'].str.lower()

In [296]:
import string

In [297]:
punc = string.punctuation

In [298]:
def remove_punc(text):
    # for char in punc:
    #     text = text.replace(char,'')
    # return text
    return text.translate(str.maketrans('','',punc))

In [299]:
df['text'] = df['text'].apply(remove_punc)

In [300]:
df['text']

107368                                   very good product👍
70623                          good product and perfect fit
136267             worst product got faulty within 4 months
50520                                     love this service
4307                                               very bad
                                ...
11839     its a vfm machine and it does its job good the...
139607                                         no fragrance
65984     aftr reading so many negative  comments  on th...
19012                              not working in my leptop
602       great range easy to use app and authentic prod...
Name: text, Length: 10000, dtype: object

In [301]:
from textblob import TextBlob

In [302]:
def spelling_check(text):
    textBlb = TextBlob(text)
    return textBlb.correct()

In [ ]:
df['text'] = df['text'].apply(spelling_check)

In [305]:
from nltk.corpus import stopwords

In [306]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [307]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    return ' '.join([word for word in text.split() if word not in stop_words])

In [309]:
df

                                                     text  label
107368                                 very good product👍      1
70623                        good product and perfect fit      1
136267           worst product got faulty within 4 months      0
50520                                   love this service      1
4307                                             very bad      0
...                                                   ...    ...
11839   its a vfm machine and it does its job good the...      1
139607                                       no fragrance      0
65984   aftr reading so many negative  comments  on th...      1
19012                            not working in my leptop      0
602     great range easy to use app and authentic prod...      2

[10000 rows x 2 columns]

In [310]:
df['text'] = df['text'].apply(remove_stopwords)

In [311]:
df

                                                     text  label
107368                                      good product👍      1
70623                            good product perfect fit      1
136267           worst product got faulty within 4 months      0
50520                                        love service      1
4307                                                  bad      0
...                                                   ...    ...
11839   vfm machine job good soak 15 mins break quick ...      1
139607                                          fragrance      0
65984   aftr reading many negative comments delivery s...      1
19012                                      working leptop      0
602     great range easy use app authentic products qu...      2

[10000 rows x 2 columns]

In [318]:
def remove_emoji(text):
    emoji_pattern = re.compile('['
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [319]:
df['text'] = df['text'].apply(remove_emoji)

In [321]:
df.duplicated().sum()

464

In [322]:
df.drop_duplicates(inplace=True)