In [340]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [341]:
df1 = pd.read_csv('review1.csv')
df2 = pd.read_csv('review2.csv')
df3 = pd.read_csv('review3.csv')
df4 = pd.read_csv('review4.csv')

In [342]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(205052, 6)
(3150, 5)
(38886, 2)
(155544, 2)

In [343]:
df1.head()

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral

In [344]:
df1 = df1[['Summary','Sentiment']]

In [345]:
df1['Sentiment'] = df1['Sentiment'].map({'positive':1,'neutral':2,'negative':0})

In [346]:
df1.rename(columns={'Summary':'text','Sentiment':'label'},inplace=True)

In [347]:
df2 = df2[['verified_reviews','feedback']]

In [348]:
df2.rename(columns={'verified_reviews':'text','feedback':'label'},inplace=True)

In [349]:
df1.columns

Index(['text', 'label'], dtype='object')

In [350]:
df3.rename(columns={'content':'text','sentiment_labels':'label'},inplace=True)

In [351]:
df4.rename(columns={'content':'text','sentiment_labels':'label'},inplace=True)

In [352]:
df3['label'] = df3['label'].map({'POSITIVE':1,'NEUTRAL':2,'NEGATIVE':0})
df4['label'] = df4['label'].map({'POSITIVE':1,'NEUTRAL':2,'NEGATIVE':0})

In [353]:
df = pd.concat([df1,df2,df3,df4])

In [354]:
df['label'].value_counts()

label
1    307673
2     49336
0     45623
Name: count, dtype: int64

In [355]:
df.isnull().sum()

text     19
label     0
dtype: int64

In [356]:
df.dropna(inplace=True)

In [357]:
df.duplicated().sum()

182619

In [358]:
df.drop_duplicates(inplace=True)

In [359]:
df = df.sample(10000)

In [360]:
# for i in df['text']:
#     i = i.lower()

In [361]:
df['text'] = df['text'].str.lower()

In [362]:
import string

In [363]:
punc = string.punctuation

In [364]:
def remove_punc(text):
    # for char in punc:
    #     text = text.replace(char,'')
    # return text
    return text.translate(str.maketrans('','',punc))

In [365]:
df['text'] = df['text'].apply(remove_punc)

In [366]:
df['text']

88206     because of sensitive skin i am always afraid o...
91229     i just loved nykaa bcz it gives you genuine pr...
112165                                   loved the services
18534                                       biotique thanks
112610    i wanted this aap and i had downloaded it in m...
                                ...
126645                                  very nice setup box
95380     battery is goodcamera okdisplay goodperformanc...
154192    everytime i order something from nykaa it serv...
18762         amazing site for best products and best price
1205                              quite happy and satisfied
Name: text, Length: 10000, dtype: object

In [367]:
from textblob import TextBlob

In [368]:
def spelling_check(text):
    textBlb = TextBlob(text)
    return textBlb.correct()

In [369]:
# df['text'] = df['text'].apply(spelling_check)

In [370]:
from nltk.corpus import stopwords

In [371]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [372]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    return ' '.join([word for word in text.split() if word not in stop_words])

In [373]:
df

                                                     text  label
88206   because of sensitive skin i am always afraid o...      1
91229   i just loved nykaa bcz it gives you genuine pr...      2
112165                                 loved the services      1
18534                                     biotique thanks      2
112610  i wanted this aap and i had downloaded it in m...      0
...                                                   ...    ...
126645                                very nice setup box      1
95380   battery is goodcamera okdisplay goodperformanc...      1
154192  everytime i order something from nykaa it serv...      1
18762       amazing site for best products and best price      1
1205                            quite happy and satisfied      1

[10000 rows x 2 columns]

In [374]:
df['text'] = df['text'].apply(remove_stopwords)

In [375]:
df

                                                     text  label
88206   sensitive skin always afraid fake product nyka...      1
91229   loved nykaa bcz gives genuine product budget t...      2
112165                                     loved services      1
18534                                     biotique thanks      2
112610  wanted aap downloaded phone reading feedback s...      0
...                                                   ...    ...
126645                                     nice setup box      1
95380   battery goodcamera okdisplay goodperformance o...      1
154192        everytime order something nykaa serves best      1
18762               amazing site best products best price      1
1205                                quite happy satisfied      1

[10000 rows x 2 columns]

In [376]:
def remove_emoji(text):
    emoji_pattern = re.compile('['
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [377]:
df['text'] = df['text'].apply(remove_emoji)

In [378]:
df.duplicated().sum()

486

In [379]:
df.drop_duplicates(inplace=True)

In [380]:
import nltk
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('wordnet')

def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    lemmatized_text = []
    tokens = word_tokenize(text)  # Tokenize the text into words
    for word in tokens:
        # pos_tag = nltk.pos_tag([word])[0][1][0].upper()  # Get the POS tag for the word
        # pos_tag = pos_tag if pos_tag in ['N', 'V', 'R', 'J'] else wordnet.NOUN  # Convert POS tag to WordNet format
        lemma = lemmatizer.lemmatize(word, pos='v')  # Lemmatize the word
        lemmatized_text.append(lemma)
    return ' '.join(lemmatized_text)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SVI\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SVI\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [381]:
df['text'].head(30).values

array(['sensitive skin always afraid fake product nyka solution problem huge genuine collection',
       'loved nykaa bcz gives genuine product budget time delivery packaging also good thanx nykaa',
       'loved services', 'biotique thanks',
       'wanted aap downloaded phone reading feedback star rating going delete kindly look ur users better rating',
       'value money product drawer rails average quality overall good product',
       'nykaa go app buying beauty products',
       'nice app buy skin products',
       'like bangalore delivery fastjust love iti love much order almost every weekits dream come true makeup enthusiasts like methanks making experience good 3 plus discounts offers almost time please continue',
       'good design build sound bar also looks fine sound quality fort good till eighty ninety percent volume bass loud product steady high bass good support',
       'love nykaaa',
       'superb products helped get rid 2 years acne loved ',
       'product service flipkart nice product dent backside',
       'always receive 15 2 years old manufactured products lipsticks specially sale service annoying nykaa try cheat customers delivering old products dont like purchasing cosmetics nykaa anymore dont even understand old products cause serious skin problems dont even care care sold old products somehow done nykaa getting old products',
       'one day got deliveredthis nyc gifted friend weddingso nyc price loved lot one go surethank flipkart',
       'fine n hassle free',
       'return policy nykaa absolutely third class illogical irritates customer core product cancelled delivered made wait refund till reaches warehouse 5 days illogical moreover submit button return section work able return email moreover even dont receive product updated delivered nykaa scooped new low die nykaa',
       'thank much nykaa type service 100 original genuine product',
       'fast delivery always satisfied every purchase',
       'product good gifted bhanja happy impressed helicopter suggest buy',
       'loved good services fast delivery', 'much awesome',
       'nykka grt jobamazing app',
       'first order havent received order yet let know experience later',
       'genuine products far wide range brands discounted price quick delivery flexible delivery timing according schedule',
       'gave okas never disrespect product even though bad received 2 times product defective',
       'excellent product delivery time',
       'good product sound good happy thenks mivi',
       'nice product easy use',
       'genuine products best price n huge variety products'],
      dtype=object)

In [382]:
df['text'] = df['text'].apply(lemmatize_text)

In [383]:
df['text'].head(30).values

array(['sensitive skin always afraid fake product nyka solution problem huge genuine collection',
       'love nykaa bcz give genuine product budget time delivery package also good thanx nykaa',
       'love service', 'biotique thank',
       'want aap download phone read feedback star rat go delete kindly look ur users better rat',
       'value money product drawer rail average quality overall good product',
       'nykaa go app buy beauty products', 'nice app buy skin products',
       'like bangalore delivery fastjust love iti love much order almost every weekits dream come true makeup enthusiasts like methanks make experience good 3 plus discount offer almost time please continue',
       'good design build sound bar also look fine sound quality fort good till eighty ninety percent volume bass loud product steady high bass good support',
       'love nykaaa', 'superb products help get rid 2 years acne love',
       'product service flipkart nice product dent backside',
       'always receive 15 2 years old manufacture products lipstick specially sale service annoy nykaa try cheat customers deliver old products dont like purchase cosmetics nykaa anymore dont even understand old products cause serious skin problems dont even care care sell old products somehow do nykaa get old products',
       'one day get deliveredthis nyc gift friend weddingso nyc price love lot one go surethank flipkart',
       'fine n hassle free',
       'return policy nykaa absolutely third class illogical irritate customer core product cancel deliver make wait refund till reach warehouse 5 days illogical moreover submit button return section work able return email moreover even dont receive product update deliver nykaa scoop new low die nykaa',
       'thank much nykaa type service 100 original genuine product',
       'fast delivery always satisfy every purchase',
       'product good gift bhanja happy impress helicopter suggest buy',
       'love good service fast delivery', 'much awesome',
       'nykka grt jobamazing app',
       'first order havent receive order yet let know experience later',
       'genuine products far wide range brand discount price quick delivery flexible delivery time accord schedule',
       'give okas never disrespect product even though bad receive 2 time product defective',
       'excellent product delivery time',
       'good product sound good happy thenks mivi',
       'nice product easy use',
       'genuine products best price n huge variety products'],
      dtype=object)